html,
body {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #241c2c;
  min-height: 100vh;
}

.header,
footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.header p, 
footer p {
  font-size: 24px;
  font-weight: 800;
  color:#5f2bef;
  cursor: pointer;
}

.header a,
footer a {
  text-decoration: none;
  font-size: 24px;
  color:#ef882b;
}

.header a:hover,
footer a:hover {
  color:#eb7208;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.game-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-prompt {
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  color: #eb7208;
  margin-bottom: 50px;
  text-shadow: 1px 1px 15px;
}

.rewards {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.rewards img {
  width: 60px;
  height: 60px;
  margin-right: 14px;
}

.rewards .score {
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  user-select: none;
}

.circle-container {
  position: relative;
  user-select: none;
  margin-bottom: 25px;
}

.circle-container img {
  cursor: pointer;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 0px rgba(89, 62, 102, 0.48);
  --tiltX: 0deg;
  --tiltY: 0deg;
  transform: rotateX(var(--tiltX)) rotateY(var(--tiltY));
  transition: transform 0.3s ease, box-shadow .4s cubic-bezier(.25,.8,.25,1);
}

.coins-required {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: rgb(197, 37, 37);
  text-shadow: 1px 1px 8px #5f2bef;
}

#required-number {
  font-size: 30px;
  color: #eb7208;
  text-shadow: none;
}

/* plus one marker */
.plus-one-marker {
  position: absolute;
  text-shadow: 0px 0px 4px rgba(234, 182, 64, 0.25);
  font-size: 32px;
  font-weight: 800;
  background: linear-gradient(180deg, #e8c547 0%, #ef882b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  pointer-events: none;
  user-select: none;
  animation: move-up 2s forwards;
}

@keyframes move-up {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }

  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}

