html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #241c2c;
}

.header,
footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.game {
  min-height: 100vh;
}

.game-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.game-header img {
  width: 60px;
  height: 60px;
  margin-right: 14px;
}

.game-header .score {
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  user-select: none;
}

.circle {
  position: relative;
  user-select: none;
}

.circle img {
  cursor: pointer;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 0px 0px 20px 0px rgba(89, 62, 102, 0.48);
  --tiltX: 0deg;
  --tiltY: 0deg;
  transform: rotateX(var(--tiltX)) rotateY(var(--tiltY));
  transition: transform 0.3s ease, box-shadow .4s cubic-bezier(.25,.8,.25,1);
}

/* plus one marker */
.plus-one-marker {
  position: absolute;
  text-shadow: 0px 0px 4px rgba(234, 182, 64, 0.25);
  font-size: 32px;
  font-weight: 800;
  background: linear-gradient(180deg, #e8c547 0%, #ef882b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  pointer-events: none;
  user-select: none;
  animation: move-up 2s forwards;
}

@keyframes move-up {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }

  100% {
    opacity: 0;
    transform: translateY(-100px);
  }
}

.footer {
  border: 2px solid blueviolet;
}